/* google font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Mulish:wght@400;600;800&display=swap');
/* common code here */
:root {
    --primary-color: #FF5400;
    --secondary-color: #131318;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    /* font-family: 'Inter', sans-serif; */
    font-family: 'Mulish', sans-serif;
}
.spacial-text {
    color: var(--primary-color); 
}

/* header design start here */ 
header {
    max-width: 1170px;
    margin: 0 auto;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}
.nav-list ul {
    display: flex;
}
ul li {
    margin-left: 40px;
}
nav .logo {
    display: flex;
    align-items: center;
}
.logo img {
    margin-right: 15px;
}
.logo h3 {
    font-size: 2.25rem; 
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}
ul li a {
    color:#424247;
    font-size: 18px;
    font-weight: 400;
}
.diffrent-type {
    color: #FF5400;
    font-size: 18px;
    font-weight: 700;
}
/* banner start here */
.head-banner {  
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%) , url(Images/Group\ 13\ \(1\)\ \(1\).png);
    height: 500px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.head-banner .banner-title {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    margin-top: 105px;
    margin-bottom: 24px;
}
.head-banner .banner-des {
    width: 676px;
    text-align: center;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 45px;
}


.banner-search {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.banner-search input , select , button {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    border: 0;
    padding: 0 15px;
}

.submit-btn-container {
    display: flex;
    justify-content: center;
    /* color: white; */
    font-weight: 700;
}
.submit-btn-container .submit-btn {
    margin-right: 10px;
}
/* main section design start Here */
main {
    max-width: 1170px;
    margin: 0 auto;
}
main > div {
    margin: 100px 0;
}


/* our popular tour section */
.popular-tour-content h2 {
    font-size: 40px;
    color: var(--secondary-color);
    margin-bottom: 15px;
}
.popular-tour-content p {
    font-size: 16px;
    color: rgba(19, 19, 24, 0.70);
    line-height: 25px;
}
.popular-tour-container {
    display: flex;
    gap: 45px;
}
.popular-tour-img {
    width: 540px;
    height: 500px;
}
.tour-point {
    margin-left: 10px;
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
}
.tour-point i {
    font-size: 7px;
    color: rgba(19, 19, 24, 0.70);
}
.tour-point-list {
    display: flex;
    gap: 10px;
}
#popular-btn {
    background-color: var(--primary-color);
    color: white;
    font-size: 20px;
    font-weight: 800;
    margin-top: 30px;
}

/* Responsive Design starts Here */
/* for Mobile device */
@media screen and (max-width: 600px) {
    /* head section */
    header {
        max-width: 335px;
        margin: 0 auto;
        margin-bottom: 25px;
    }
    .banner-search {
        flex-direction: column;
    }
    nav {
        flex-direction: column;
        align-items: normal;
    }
    ul li {
        margin-left: 10px;
    }
    .logo h3 {
        font-size: 1.31rem;
        font-weight: 800;
    }
    .head-banner {
        width: 335px;
        height: 483px;
        margin: 0 auto;
    }
    .head-banner .banner-title {
        color: #FFF;
        font-size: 1.375rem;
        font-weight: 800;
        margin-top: 32px;
        margin-bottom: 8px;
    }
    .head-banner .banner-des {
        width: 304px;
        text-align: center;
        color: #FFF;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 21px;
        margin-bottom: 32px;
    }
    .banner-search input , select , button {
        width: 255px;
        height: 52px;
    }
    ul li a {
        color:#424247;
        font-size: 15px;
        font-weight: 400;
    }
    /* popular tour section */
    .popular-tour-container {
        width: 335px;
        flex-direction: column;
        margin: 0 auto;
    }
    .popular-tour-img {
        width: 335px;
        height: 342px;
    }
    .popular-tour-content {
        width: 335px;
        /* margin: 0 auto; */
    }
}

/* medium device */
@media screen and (min-width: 601px) and (max-width: 992px) {
    ul li a {
        color:#424247;
        font-size: 18px;
        font-weight: 400;
    }
    ul li {
        margin-left: 10px;
    }
    .logo h3 {
        font-size: 1.4rem;
        font-weight: 800;
    }
    .head-banner {
        width: 95%;
        height: 483px;
        margin: 0 auto;
    }
    .head-banner .banner-title {
        color: #FFF;
        font-size: 2rem;
        font-weight: 800;
        margin-top: 110px;
        margin-bottom: 35px;
    }
    .head-banner .banner-des {
        width: 400px;
        text-align: center;
        color: #FFF;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 21px;
        margin-top: 0;
        margin-bottom: 40px;
    }
    .banner-search {
        padding: 10px;
    }
    .banner-search input , select , button {
        max-width: 120px;
        height: 52px;
        border-radius: 8px;
        background: #FFF;
        border: 0;
        padding: 0 15px;
    }
    /* popular tour section */
    .popular-tour-container {
        width: 95%;
        flex-direction: column;
        margin: 0 auto;
    }
}